


<div class="container">
    <h3 class="pad">{{titulo}}</h3>
</div>

<br>

<main class="container">
  <div class="album py-5">
    
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3">
        {{#each results}}
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="300" height="600" src="{{imagen}}"/>

              <div class="card-body">
                <p class="card-text"> <b><u>{{nombProducto}}</u></b>
                                      <br>
                                      Remera {{color}}, pintada a mano.
                                      Talle y precio a convenir.</p>
                <div class="d-flex justify-content-between align-items-center">
                              
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/Axel.jpg"/>

            <div class="card-body">
              <p class="card-text"> <b><u>Axel Rose</u></b><br>
                                    Remera blanca, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/Beavis and Butthead.webp"/>

            <div class="card-body">
              <p class="card-text"> <b><u>Beavis and Butthead</u></b><br>
                                    Remera blanca, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>      
        
        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/beer pink floyd.webp"/>

            <div class="card-body">
              <p class="card-text"> <b><u>Floyd Beer</u></b> <br>
                                    Remera blanca, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>

        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/Freddy.jpg"/>

            <div class="card-body">
              <p class="card-text"> <b><u>Freddie Mercury</u></b> <br>
                                    Remera blanca, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>

        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/Goku.jpg"/>

            <div class="card-body">
              <p class="card-text"> <b><u>Goku</u></b> <br>
                                    Remera negra, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>

        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/IT.jpg"/>

            <div class="card-body">
              <p class="card-text"> <b><u>IT</u></b> <br>
                                    Remera blanca, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>

        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/Patin.webp"/>

            <div class="card-body">
              <p class="card-text"> <b><u>Patin</u></b> <br>
                                    Remera blanca, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>

        
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/SanLorenzo.jpg"/>

            <div class="card-body">
              <p class="card-text"> <b><u>San Lorenzo</u></b><br>
                                    Remera roja, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="300" height="600" src="/multimedia/skatebone.jpg"/>

            <div class="card-body">
              <p class="card-text"> <b><u>Calavera Skate</u></b> <br>
                                    Remera blanca, pintada a mano.
                                    Talle y precio a convenir.</p>
              <div class="d-flex justify-content-between align-items-center">
                            
              </div>
            </div>
          </div>
          </form>
        </div>
</main>
