

<footer class="container p-5 bg-dark text-gold mt-5">
    <p>&copy 2022 - Desarrollado por Gustavo Chaparro</p>
    <p><a href="Tel +54 93434652910">3434652910</a></p>
    <p><a href="mailto:gus.chapa24@gmail.com"target="_blank">gus.chapa24@gmail.com</a></p>
</footer>
